<div *ngIf="listaIngredientes.length > 0; else listaVazia">
  <table>
    <tr *ngFor="let item of listaIngredientes; let last = last; let i = index">
      <td>{{ item.descricao }}</td>
      <td style="text-align: end;">
        <button class="buttonAprove" mat-raised-button (click)="onClickEnable(item, i)">Aprovar</button>
        <button class="buttonRecuse" mat-raised-button (click)="onClickDelete(item, i)">Recusar</button>
      </td>
    </tr>
  </table>
</div>

<ng-template #listaVazia>
  <div class="listaVazia">
    <img class="imagemOpaca" src="assets/images/IconCookMaster.png" alt="">
    <h2>Não existem ingredientes pendentes</h2>
  </div>
</ng-template>
